@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-inter: "Inter", sans-serif;
  --font-grotesk: "Konstant Grotesk Book", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
  appearance: none;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}